<?php
    // we don't do XHTML, causes issues, see https://groups.google.com/forum/#!topic/google-maps-js-api-v3/rs6Y0Cq01Ic
    header("Content-type: text/html; charset=utf-8");
?>
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/theme/default/css/display.css" media="screen, projection, tv, print"/>
        <link rel="stylesheet" href="/theme/overcast/jquery-ui.css" type="text/css" media="all" />
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-ui-min.js"></script>
        <script src="/js/jgcharts.js"></script>
        <script src="/js/jquery.scrollTo-1.4.2-min.js"></script>
        <script src="/js/index.js"></script>
