<?php require_once 'head.html'; ?>
        <title>School &#8212; School Explorer</title>
        <meta name="description" content="Information about schools to help parents to decide where to send their kids to."/>
    </head>

    <body id="school">
        <div id="wrap">
<?php require_once 'header.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>School</h1>

                    <div id="content_inner">
<?php
    echo $this->school();
?>
                    </div>
                </div>
            </div>
<?php require_once 'footer.html'; ?>
        </div>

<?php require_once 'foot.html'; ?>
