<?php require_once 'head.html'; ?>
        <title>School &#8212; School Explorer</title>
        <meta name="description" content="Information about schools to help parents to decide where to send their kids to."/>
    </head>

    <body id="school">
        <div id="wrap">
<?php require_once 'header.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>School</h1>

                    <div id="content_inner">
                        <div id="school_results">
                            <div id="school_legend"></div>
                            <div id="school_map"></div>

                            <div id="school_details"></div>
                        </div>
                        <canvas id="dynam" width="40" height="60"></canvas>

                        <div id="school_context">
                            <div id="school_sv_map"></div>
                            <div id="school_nearby_radius"></div>
                            <div id="school_nearby_slider"></div>
                            <div id="school_nearby"></div>
                        </div>

<?php
    echo $this->school();
?>
                    </div>
                </div>
            </div>
<?php require_once 'footer.html'; ?>
        </div>

<?php require_once 'foot.html'; ?>
