<?php require_once 'head.html'; ?>
        <title>About &#8212; School Explorer</title>
        <meta name="description" content="Information about schools to help parents to decide where to send their kids to."/>
    </head>

    <body id="about">
        <div id="wrap">
<?php require_once 'header.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>About</h1>

                    <div id="content_inner">
                        <div id="about_school-explorer">
                            <h2>School Explorer</h2>
                            <p>This application is..</p>

                            <h3>Technical information</h3>
                            <dl>
                                <dt>Source code</dt>
                                <dd><a href="http://github.com/mhausenblas/school-explorer">http://github.com/mhausenblas/school-explorer</a></dd>
                                <dt>Census data</dt>
                                <dd><a href="http://data-gov.ie/data/">Dataset</a> [? MB] from <a href="http://cso.ie/">Central Statistics Office</a></dd>

                                <dt>Education data</dt>
                                <dd><a href="http://data-gov.ie/data/">Dataset</a> [? MB] from <a href="http://www.education.ie/">Department of Education and Skills</a></dd>

                                <dt>Setup</dt>
                                <dd><a href="http://apache.org/">Apache<a/>, <a href="http://openjena.org/wiki/Fuseki">Fuseki</a>, <a href="http://data-gov.ie/void.ttl">VoID</a></dd>
                            </dl>

                            <h3>People behind this work</h3>
                            <ul>
                                <li><a href="http://cso.ie/">Central Statistics Office</a> ()</li>

                                <li><a href="http://www.education.ie/">Department of Education and Skills</a> ()</li>

                                <li><a href="http://deri.ie/">Digital Enterprise Research Institute</a> (<a href="http://sw-app.org/mic.xhtml#i">Michael Hausenblas</a>, <a href="http://csarven.ca/#i">Sarven Capadisli</a>, <a href="http://richard.cyganiak.de/#me">Richard Cyganiak</a>)</li>
                            </ul>
                        </div>

                        <div id="about_school-explorer">
                            <h2>Help</h2>
                            <p>Enter your address..</p>
                        </div>

                        <div id="about_school-explorer">
                            <h2>Contact us</h2>
                            <p>For inquiries, please contact us at ..</p>
                        </div>
                    </div>
                </div>
            </div>
<?php require_once 'footer.html'; ?>
        </div>

        <script type="text/javascript" src="/js/jquery.min.js"> </script>
        <script type="text/javascript" src="/js/index.js"> </script>

<?php require_once 'foot.html'; ?>
