<?php require_once 'head.html'; ?>
        <title>Area &#8212; School Explorer</title>
        <meta name="description" content="Information about schools to help parents to decide where to send their kids to."/>
    </head>

    <body id="area">
        <div id="wrap">
<?php require_once 'header.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>Area</h1>

                    <div id="content_inner">

                    </div>
                </div>
            </div>
<?php require_once 'footer.html'; ?>
        </div>

        <script type="text/javascript" src="/js/jquery.min.js"> </script>
        <script type="text/javascript" src="/js/index.js"> </script>

<?php require_once 'foot.html'; ?>
